<LoadPlugin python>
  Globals true
</LoadPlugin>

<Plugin python>
  ModulePath  "{{ collectd_base_dir }}"
  Import "mp_traffic"

  <Module mp_traffic>
    Host "{{ router_host }}"
    Port "{{ router_http_port }}"
    Timeout "20"
    Verbose true
  </Module>

</Plugin>
